*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body{
    background-color: #c52222;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
 /* background-color: #ff2626; */
h1{
    font-size: 41px;
    color: #fff;
    margin-bottom: 24px;
    margin-left: 600px;
    margin-top: 24px;
}

p{
    margin-bottom: 16px;
    margin-top: 16px;
    margin-left: 18px;
    font-size: 18px;
    max-width: 648px;
}

.capa{
    margin-bottom: 115px;
    margin-left: 115px;
    border-radius: 12px;
}

.McQueen{
    width: 80%;
}

.texto{
    margin-left: 575px;
    max-width: auto;
    margin-top: -640px;
    font-size: 22px;
    color: #e1e1e6;
}

.Personagens{
        margin-top: 20%;
        margin-bottom: 50px;
        margin-left: 12px;
    }

main {
    .ancora{
        margin-left: 700px;
    }

    .Trailer{
        margin-left: 725px;
    }

    hr{
        max-width: 80%;
        margin-right: 150px;
    }
    margin-top: 200px;
    width: fit-content;
    margin-inline: auto;
    color: #e1e1e6;
    margin-left: 102px;
    margin-top: 63px;


    h2 {
        font-size: 32px;
        color: #e1e1e6;
        line-height: 125%;
        margin-bottom: 20px;
        margin-left: 17.5%;
    }

    h3{
        margin-top: 35px;
        font-size: large;
        margin-left: 12px;
    }

    a {
        border: 2px solid #FFF;
        display: block;
        width: fit-content;
        margin-inline: auto;
        padding: 12px 32px;
        color: #FFF;
        line-height: 24px;
        border-radius: 5px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
    }

    p {
        max-width: 648px;
        font-size: 18px;
        line-height: 160%;
        margin-left: 4%;
    }
}
